<!DOCTYPE html>
<html>
<body>
	<h2>
	<b> Perbandingan android dengan ios</b> 
	</h2>
	 <p> 
		 5 Perbedaan Android dan iOS
	</p>
	<ul>
		<li>Kegunaan</li>
		<p>
			iOS adalah sistem operasi eksklusif yang dirancang khusus untuk digunakan di produk iPhone dari Apple. Sedangkan Android adalah sistem operasi buatan Google yang bisa digunakan oleh berbagai merk smartphone. Sebagai OS eksklusif, iPhone juga amat cermat dan berhati-hati untuk mengendalikan segala sesuatu di iPhone penggunanya. Tidak seperti Android yang malah menawarkan kebebasan bagi penggunanya untuk memodifikasi smartphone Android.
		</p>
		<li>Kapasitas Penyimpanan</li>
		<p>
			Apple Inc. sejak awal telah menentukan kapasitas penyimpanan internal untuk iPhone. Kini iPhone menyediakan penyimpanan internal dengan kapasitas 256GB, yang tidak bisa ditambahkan secara manual. Lain halnya dengan smartphone Android yang sebenarnya telah dilengkapi kapasitas penyimpanan internal yang lumayan besar juga. Namun, Android mengizinkan penggunanya untuk menambahkan penyimpanannya kartu memori tambahan.
		</p>
		<li>Kemampuan Berbagi Data</li>
		<p>
			Untuk bisa menerima dan mengirim data di iPhone, kita harus memindahkannya lewat iTunes. Nah, iTunes ini juga harus terlebih dahulu dipasang di laptop atau PC kamu. Di dalam iPhone juga tidak tersedia teknologi Bluetooth, karena dianggap membuat iPhone rawan diserang virus berbahaya. Berbeda dengan iPhone, Android menawarkan kebebasan untuk pembagian data dan menyediakan teknologi Bluetooth.
		</p>
		<li>Ketersediaan Suku Cadang</li>
		<p>
			Suku cadang iPhone umumnya dijual dengan sangat mahal, sehingga sulit didapatkan. Sementara suku cadang Android bisa dibeli di mana saja dengan harga yang terjangkau.
		</p>
		<li>Harga</li>
		<p>
			Terakhir, ada perbedaan dari segi harga. Apple Inc membanderol iPhone dengan harga yang sangat tinggi. iPhone X dengan kapasitas penyimpanan 64GB saja dijual seharga Rp26.200.000. Lain halnya dengan smartphone Android yang bisa didapatkan dengan harga yang terjangkau, setidaknya tidak sampai puluhan juta Rupiah. Namun, ini berarti harga iPhone bekas pun tidak turun tajam. Sedangkan harga Android bekas turun sangat tajam.
		</p>

	</ul>
	
	 <a href="/andro">Menuju pengertian andoid</a>
	 <p><a href="/ios">Menuju pengertian ios</a></p>
	 <p><i> https://kumparan.com/berita-update/5-perbedaan-android-dan-ios-mana-yang-lebih-baik-1x0YrkKILWN/full </i></p>
	</body>
</html>