<!DOCTYPE html>
<html>
<body>
	<h2> 
		<b>pengertian IOS</b> 
	</h2> 
	<p>  
		iOS adalah singkatan dari iPhone Operating System. Dari namanya saja, kita sudah bisa menyimpulkan bahwa iOS merupakan sistem operasi yang dikembangkan khusus untuk perangkat iPhone. iOS dikembangkan oleh Apple, perusahaan yang juga membuat iPhone, iPad, dan juga MacBook. iOS tidak sama dengan Android. Karena Android adalah sistem operasi mobile yang dikembangkan secara open source. Sedangkan Apple lebih memilih mengembangkan iOS secara tertutup (close source), dan hanya perusahaan berlogo apel ini yang mengetahui source code nya.	
	</p> 
	<a href="/banding">Menuju Perbandingan Android dengan IOS</a>
	<p><a href="/ios">Menuju Pengertian Android</a></p>
	<p><i> https://androbuntu.com/pengertian-ios/ </i></p>
	</body>
</html>