<!DOCTYPE html>
<html>
    <head>
        <title>tugas exercise</title>
</head>
<body>
    <table border="2">
        <tr>
            <th colspan="3" bgcolor="green">Data pengiriman</th>
        </tr>
        <tr>
            
        </tr>
        <tr>
            <td>Nama</td>
            <td>alamat</td>
            <td>no.telp</td>
        </tr>
        <tr>
            <td>{{ name1 }}</td>
            <td>{{ address1 }}</td>
            <td>{{ phone1 }}</td>
        </tr>
        <tr>
            <td>{{ name2 }}</td>
            <td>{{ address2 }}</td>
            <td>{{ phone2 }}</td>
        </tr>
        <tr>
            <td>{{ name3 }}</td>
            <td>{{ address3 }}</td>
            <td>{{ phone3 }}</td>
        </tr>
        
    </table>

</body>
</html>